@page "/weather"
@attribute [StreamRendering]
@using Newtonsoft.Json
<PageTitle>Weather</PageTitle>
<select>
    @foreach (var item in _list)
    {
        <option>
            @item
        </option>
    }
</select>
<select>
    @foreach (var item in _List)
    {
        <option>
            @item
        </option>
    }
</select>
<input type="date" />
@code {
    public string NewNote { get; set; }
    public IList<string> _list = new List<string>();
    public IList<string> _List = new List<string>();
    
    protected override void OnInitialized()
    {
        OpenFile();
    }

    public void OpenFile()
    {
        if (File.Exists("servic.json"))
        {
            string json = File.ReadAllText(path: "servic.json");
            string jsom = File.ReadAllText(path: "client.json");
            _list = JsonConvert.DeserializeObject<List<string>>(json);
            _List = JsonConvert.DeserializeObject<List<string>>(jsom);
        }
        else
        {
            SaveFile();
        }
    }

    public void SaveFile()
    {
        var json = JsonConvert.SerializeObject(_list);
        var jsom = JsonConvert.SerializeObject(_List);
        File.WriteAllText("servic.json", json);
        File.WriteAllText("client.json", jsom);
    }
}